# Ignorare module Go si binare
pkg/
bin/

# Ignorare generala module si build-uri frontend
**/node_modules/
**/dist/
**/.env.local
**/.env.*.local
**/npm-debug.log*

# Ignorare binare specifice proiectului Go
onion-spider/backend/api_bin
onion-spider/backend/crawler_bin
onion-spider/backend/vendor/

# Extensii compilate si fisiere de log
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
cover.out

# IDEs, Editors si Sistem de operare
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
