DATABASE_URL=postgres://spider_user:Sup3rS3cr3tP4ss!@localhost:5432/onion_spider?sslmode=disable
PORT=8900
TOR_PROXY=127.0.0.1:9050
WORKERS=3
MAX_DEPTH=2
API_KEY=YOUR_OPTIONAL_API_KEY
JWT_SECRET=super_secret_jwt_key
CORS_ORIGIN=https://go.micutu.com

# Setup for sending email verifications
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=adresa.ta@gmail.com
SMTP_PASS=parola_app_generata
SMTP_FROM=noreply@domeniultau.com
