# Frontend (Node / Vue)
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend (Go)
backend/api_bin
backend/crawler_bin
backend/vendor/

# Go environment and build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
cover.out

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Temporary system files
/tmp/
