openapi: 3.0.3
info:
  title: Onion Spider API
  version: "1.0.0"
  description: |
    REST API for the Onion Spider dark-web crawler.

    Authentication is established by `POST /api/auth/login` in one of two
    explicit modes:

    - **`Authorization: Bearer <token>`** — for scripts and non-browser clients.
      Send `"mode": "bearer"`; the token is then returned in the response body
      and no session cookie is set.
    - **Session cookie (default)** — omit `mode` (or send `"mode": "cookie"`).
      The response sets `os_session`
      (HttpOnly, Secure, SameSite=Strict), which browsers send automatically.
      This is what the web dashboard uses, so no token is ever stored in
      JavaScript-reachable response data or storage.

    The header wins when both are present.

    Cookie-authenticated requests using an unsafe method (anything other than
    GET/HEAD/OPTIONS) must also echo the `os_csrf` cookie back in an
    `X-CSRF-Token` header, or the request is rejected with 403. Bearer-authenticated
    requests are exempt: a browser will not attach an `Authorization` header to a
    cross-origin request on its own, so there is nothing to forge.

    The token embeds a `token_version`; it is rejected once the version is bumped
    (password reset or `logout-all`). Authorization (admin vs user) is resolved
    from the database on every request, not from the token claims.

    Operational endpoints `/healthz`, `/readyz` and `/metrics` are served on the
    process root (not under `/api`) and are NOT exposed publicly by the
    production reverse proxy — they are reachable only on localhost.
servers:
  - url: https://go.micutu.com
    description: Production
  - url: http://localhost:8900
    description: Local backend (direct)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: os_session
      description: >
        Set by POST /api/auth/login in the default cookie mode. HttpOnly,
        Secure, SameSite=Strict.
        Unsafe methods additionally require the X-CSRF-Token header (see the
        API description).
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    Message:
      type: object
      properties:
        message: { type: string }
    PrivacySettings:
      type: object
      properties:
        retention_days:
          type: integer
          description: Age after which crawl records are deleted automatically. 0 keeps them indefinitely.
        store_content:
          type: boolean
          description: >-
            False is metadata-only: titles, status codes, categories and the
            link graph are still recorded, but no copy of the page text is kept.
            The change-detection digest is still computed, so recrawl scheduling
            keeps working — a digest is not a copy.
        deletion_requested_at: { type: string, format: date-time, nullable: true }
        deletion_scheduled_for: { type: string, format: date-time, nullable: true }
    Node:
      type: object
      properties:
        id: { type: integer }
        url: { type: string }
        title: { type: string }
        status_code: { type: integer }
        server_header: { type: string }
        processing_status:
          type: string
          enum: [pending, crawling, completed, failed, blocked]
        category: { type: string }
        last_crawled_at: { type: string }
        user_id: { type: integer }
    NodeDetail:
      allOf:
        - $ref: '#/components/schemas/Node'
        - type: object
          properties:
            content: { type: string }
            metadata:
              type: string
              description: JSON string; may include description/keywords and an `entities` object (btc/xmr/eth/emails/pgp_keys).
            content_hash: { type: string }
            discovered_at: { type: string }
    Edge:
      type: object
      properties:
        source: { type: string }
        target: { type: string }
    Status:
      type: object
      properties:
        status: { type: string, example: online }
        db_connected: { type: boolean }
        nodes_crawled: { type: integer }
        pending_nodes: { type: integer }
        failed_nodes: { type: integer }
        crawling_nodes: { type: integer }
        blocked_nodes: { type: integer }
        total_edges: { type: integer }
        active_workers: { type: integer }
    QueueSummary:
      type: object
      properties:
        status_counts:
          type: object
          additionalProperties: { type: integer }
        next_items:
          type: array
          items:
            type: object
            properties:
              url: { type: string }
              depth: { type: integer }
              status: { type: string }
              discovered_at: { type: string }
  responses:
    Unauthorized:
      description: Missing, invalid, expired or revoked token
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
    Forbidden:
      description: Authenticated but insufficient privileges
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }

paths:
  /api/auth/register:
    post:
      summary: Register a new account (disabled unless ALLOW_REGISTRATION=true)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 10, maxLength: 72 }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid data, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403': { description: Registration closed, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/auth/login:
    post:
      summary: Log in with a browser session or explicitly obtain a bearer JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
                mode:
                  type: string
                  enum: [cookie, bearer]
                  default: cookie
                  description: Bearer mode returns a token and does not set session cookies.
                code:
                  type: string
                  description: >-
                    Second factor, when the account has one: a current TOTP code
                    or one single-use recovery code. Omit it on the first
                    request; the 401 that comes back carries totp_required so
                    the client knows to ask for one.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Present only when mode is bearer.
                  role: { type: string }
                  email: { type: string }
        '400': { description: Bad request }
        '401':
          description: >-
            Invalid credentials, or the password was correct and a second factor
            is still needed. The two are distinguished by totp_required, which
            is only ever returned after the password has been verified — so it
            cannot be used to discover which accounts exist or have MFA.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  totp_required: { type: boolean }
        '403': { description: Account not verified }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/auth/verify:
    get:
      deprecated: true
      summary: Legacy email-verification page for links issued before fragment-token migration
      description: New links use /verify-account#token=... so the token is never sent in an HTTP URL.
      parameters:
        - in: query
          name: token
          required: true
          schema: { type: string }
      responses:
        '200': { description: HTML confirmation page, content: { text/html: {} } }
        '400': { description: Invalid token }
    post:
      summary: Consume an email-verification token (JSON or form body)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: { token: { type: string } }
      responses:
        '200':
          description: Success page, or JSON when Accept includes application/json
          content:
            text/html: {}
            application/json: { schema: { $ref: '#/components/schemas/Message' } }
        '400': { description: Token invalid, expired or already used }

  /api/auth/forgot:
    post:
      summary: Request a password-reset email
      description: Always returns 200 with a generic message (no account enumeration).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties: { email: { type: string, format: email } }
      responses:
        '200': { description: Generic acknowledgement, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/auth/reset:
    post:
      summary: Set a new password using a reset token
      description: New links carry the token in /reset-password#token=... and the browser POSTs it here in JSON. On success, all existing sessions for the account are revoked.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, minLength: 10, maxLength: 72 }
      responses:
        '200': { description: Password updated, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid token or password }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/auth/me:
    get:
      summary: Current session identity
      description: >
        Returns the authenticated user's email and their live role from the
        database. The web dashboard calls this on load: with the token in an
        HttpOnly cookie the page cannot read its own claims, so identity has to
        come from the server.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  email: { type: string, format: email }
                  role: { type: string, enum: [user, admin] }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/logout:
    post:
      summary: Sign out this browser
      description: >
        Expires the session and CSRF cookies. Does not bump token_version, so
        the user's other sessions are unaffected — use logout-all for that.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200': { description: Signed out, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Missing or invalid X-CSRF-Token (cookie-authenticated requests only) }

  /api/auth/logout-all:
    post:
      summary: Revoke all sessions for the current user
      description: >
        Bumps token_version, invalidating every issued token for this user. Also
        expires this browser's cookies, since its session is one of those revoked.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200': { description: All sessions revoked, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Missing or invalid X-CSRF-Token (cookie-authenticated requests only) }

  /api/auth/sessions:
    get:
      summary: List the devices this account is signed in on
      description: >-
        No IP address is recorded, and the device label is a coarse family such
        as "Firefox on Linux" derived from the User-Agent rather than the raw
        header, which would be close to a fingerprint and outlives the session.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200':
          description: Active sessions, most recently used first
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    device_label: { type: string }
                    created_at: { type: string }
                    last_used_at: { type: string }
                    expires_at: { type: string }
                    current: { type: boolean, description: True for the session making this request }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/sessions/{id}:
    delete:
      summary: Sign one device out
      description: >-
        Takes effect on that device's next request, not when its token expires.
        A session belonging to another account answers 404 rather than 403, so
        the response cannot confirm that an id exists.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: Signed out, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid session id }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: No such session for this account }

  /api/auth/totp:
    get:
      summary: Second-factor status for the current account
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200':
          description: Current state
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled: { type: boolean }
                  required: { type: boolean, description: Whether this account must enrol (administrators, when REQUIRE_ADMIN_MFA is on) }
                  recovery_codes_remaining: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/totp/setup:
    post:
      summary: Begin second-factor enrolment
      description: >-
        Stages a new secret and returns it once, with the otpauth:// URI an
        authenticator app scans. Nothing is enforced until /confirm proves the
        user can generate codes from it, so an abandoned enrolment cannot lock
        the account. Refused while a second factor is already active.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200':
          description: Enrolment staged
          content:
            application/json:
              schema:
                type: object
                properties:
                  secret: { type: string }
                  provisioning_uri: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { description: Already enabled — disable first to re-enrol }

  /api/auth/totp/confirm:
    post:
      summary: Activate the second factor and receive recovery codes
      description: >-
        The recovery codes are returned exactly once; only their digests are
        stored. The confirming code's step is recorded immediately so it cannot
        then be replayed at login.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties: { code: { type: string } }
      responses:
        '200':
          description: Enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled: { type: boolean }
                  recovery_codes: { type: array, items: { type: string } }
                  message: { type: string }
        '400': { description: Invalid code, or no enrolment in progress }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/totp/disable:
    post:
      summary: Turn the second factor off
      description: >-
        Requires the account password and a current code (or a recovery code),
        so a stolen session cannot remove the control intended to survive it.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, code]
              properties:
                password: { type: string }
                code: { type: string }
      responses:
        '200': { description: Disabled, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Not enabled }
        '401': { description: Wrong password or code }

  /api/status:
    get:
      summary: Service + crawl statistics (own data; globals for admins)
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Status' } } } }

  /api/nodes:
    get:
      summary: List crawled nodes (own; all for admins)
      security: [{ bearerAuth: [] }]
      parameters:
        - { in: query, name: page, schema: { type: integer, default: 1 } }
        - { in: query, name: limit, schema: { type: integer, default: 50, maximum: 200 } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Node' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/node:
    post:
      summary: Full detail of a single node by URL
      security: [{ bearerAuth: [] }]
      description: The URL is carried in JSON, never in browser/proxy request URLs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties: { url: { type: string, maxLength: 2048 } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/NodeDetail' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Not found }

  /api/edges:
    get:
      summary: List link edges (own; all for admins)
      security: [{ bearerAuth: [] }]
      parameters:
        - { in: query, name: page, schema: { type: integer, default: 1 } }
        - { in: query, name: limit, schema: { type: integer, default: 200, maximum: 1000 } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Edge' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/search:
    post:
      summary: Full-text search over titles and content
      security: [{ bearerAuth: [] }]
      description: Search terms are carried in JSON, never in browser/proxy request URLs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [q]
              properties:
                q: { type: string, maxLength: 200 }
                category: { type: string, maxLength: 50 }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Node' } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/crawl:
    post:
      summary: Enqueue a single .onion URL for crawling
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties: { url: { type: string, description: "v3 .onion http(s) URL" } }
      responses:
        '202': { description: Queued, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid URL }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { description: Domain blocked }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /api/recrawl:
    post:
      summary: Re-queue an existing node for immediate re-crawl
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties: { url: { type: string } }
      responses:
        '202': { description: Queued }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: URL not found }
        '409': { description: Node already being crawled }

  /api/crawl/bulk:
    post:
      summary: Enqueue 1–20 .onion URLs at once
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [urls]
              properties:
                urls: { type: array, items: { type: string }, minItems: 1, maxItems: 20 }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties: { added: { type: integer }, skipped: { type: integer } }
        '400': { description: Invalid body }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429':
          description: >-
            Rate limit exceeded, or the account's crawl queue is full. The batch
            is charged one unit per URL it carries, so a full batch costs the
            same as twenty single submissions. A partially applied batch reports
            how many URLs were accepted before the quota was reached.
          content:
            application/json:
              schema:
                type: object
                properties:
                  added: { type: integer }
                  skipped: { type: integer }
                  error: { type: string }

  /api/queue:
    get:
      summary: Queue status counts and next items
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/QueueSummary' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/stats/timeline:
    get:
      summary: Nodes discovered per day over the last 30 days
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeline:
                    type: array
                    items:
                      type: object
                      properties: { date: { type: string }, count: { type: integer } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/export:
    get:
      summary: Export nodes (and graph) in various formats
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: format
          schema: { type: string, enum: [json, ndjson, csv, xlsx, pdf, graphml], default: json }
      responses:
        '200': { description: Export stream (content type depends on format) }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { description: Export already in progress or server export limit reached }

  /api/privacy/settings:
    get:
      summary: This account's data-retention policy
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200':
          description: Current policy
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings: { $ref: '#/components/schemas/PrivacySettings' }
                  max_retention_days: { type: integer }
                  deletion_grace: { type: integer, description: Days between a deletion request and it taking effect }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      summary: Set the retention window and the metadata-only switch
      description: >-
        Applies from now on. Turning store_content off stops new page text being
        written but does not erase what is already stored — POST
        /api/privacy/purge with scope=page_content does that. Bundling the two
        would mean a settings toggle silently destroyed data.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [retention_days, store_content]
              properties:
                retention_days: { type: integer, minimum: 0, maximum: 3650, description: 0 keeps records indefinitely }
                store_content: { type: boolean }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings: { $ref: '#/components/schemas/PrivacySettings' }
                  message: { type: string }
        '400': { description: Retention window out of range }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/privacy/export:
    get:
      summary: Download everything held about this account
      description: >-
        A single JSON document: account record, data settings, signed-in
        devices, authentication history, crawl records and links. Credential
        material is deliberately excluded — the password digest, the TOTP seed,
        recovery-code digests and the opaque verification and reset tokens are
        never selected. Scoped to the calling account even for administrators.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200': { description: application/json attachment }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { description: Export already in progress or server export limit reached }

  /api/privacy/purge:
    post:
      summary: Delete one category of stored data
      description: >-
        Re-authenticates before acting. A session cookie is a bearer credential,
        so a stolen session must not be able to destroy the account's data on
        its own. scope=activity_log holds back events from the last two hours:
        those rows are the live state behind the account lockout and the
        per-recipient mail caps, and clearing them on demand would turn this
        into a reset button for both.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scope, password]
              properties:
                scope: { type: string, enum: [crawl_history, page_content, activity_log] }
                password: { type: string }
                code: { type: string, description: TOTP or recovery code, required when a second factor is enrolled }
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  scope: { type: string }
                  deleted: { type: integer }
                  message: { type: string }
        '400': { description: Unknown data category }
        '401': { description: Wrong password or second factor }
        '429': { description: Too many re-authentication attempts }

  /api/privacy/account/delete:
    post:
      summary: Schedule this account for deletion
      description: >-
        Nothing is destroyed by this call. The account is erased after the
        configured grace period, and a mail is sent to the registered address —
        which an attacker operating from a hijacked session does not control —
        naming the deadline for cancelling. A second request while one is
        pending is refused rather than moving the deadline.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string }
                code: { type: string, description: TOTP or recovery code, required when a second factor is enrolled }
      responses:
        '200':
          description: Scheduled
          content:
            application/json:
              schema:
                type: object
                properties:
                  deletion_scheduled_for: { type: string, format: date-time }
                  message: { type: string }
        '401': { description: Wrong password or second factor }
        '409': { description: A deletion is already scheduled }
        '429': { description: Too many re-authentication attempts }

  /api/privacy/account/delete/cancel:
    post:
      summary: Call off a scheduled deletion
      description: >-
        Deliberately not re-authenticated. Cancelling only ever preserves data,
        and a password prompt in front of the undo button is what turns a
        misclick into a permanent loss.
      security: [{ bearerAuth: [] }, { cookieAuth: [] }]
      responses:
        '200': { description: Cancelled, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: No deletion is scheduled }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/blacklist:
    get:
      summary: List blocked domains (admin only)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: { domains: { type: array, items: { type: string } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: Block a .onion domain (admin only)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties: { domain: { type: string } }
      responses:
        '200': { description: Domain blocked, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid domain }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/blacklist/{domain}:
    delete:
      summary: Unblock a domain (admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - { in: path, name: domain, required: true, schema: { type: string } }
      responses:
        '200': { description: Domain removed, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid domain }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { description: Domain not in blacklist }
